#bottom-bar
  #hand(
    ng-hover-hand=''
  )
    img.hand(
      ng-hover-card
      ng-drag=
        'true', 
      ng-drag-data=
        '{index: $index, card: {name: c.name, color: c.color, done: false, materials: []}}', 
      ng-click=
        'yourTurn() ? handClicked(you(), game, meta, {index: $index, card: {name: c.name, color: c.color, done: false, materials: []}}) : null', 
      ng-repeat=
        'c in you().hand track by $index', 
      style=
        'left: {{ $index * spacing }}px;bottom:4%;', 
      src=
        'images/cards/{{ c.name }}.png', 
      alt=
        '{{ c.name }}'
    )
  img.deck(
    src= 
      '/images/cards/Jack.png'
    ng-click=
      'yourTurn() ? jackClicked(you(), game, meta) : null',
  )
  img.deck(
    src= 
      '/images/cards/deck.png'
    ng-click=
      'yourTurn() ? deckClicked(you(), game, meta) : null'
  )
  .pool
    button.pool-counter(
      ng-repeat=
        'color in poolColors', 
      ng-click=
        'yourTurn() ? poolClicked(you(), color, game, meta) : null',
      style=
        'background-color:#{{ colors[color] }}; color: white'
    )
      | {{ game.pool[color] > 0 ? game.pool[color] : "" }}