head
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
  script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src='http://localhost:3000/socket.io/socket.io.js')
  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/angular-route/angular-route.js')
  script(src='/bower_components/angular-socket-io/socket.js')
  script(src='/bower_components/ngDraggable/ngDraggable.js')
  script(src="/js/jquery/home.js")
  script(src='/js/app.js')
  script(src='/js/services.js')
  script(src='/js/controllers.js')
  script(src='/js/directives.js')
  script(src='/js/filters.js')
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/css/app.css')
  link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  link(rel='stylesheet', href='/css/home.css')