.player-title
  .player-header(
    ng-repeat='player in game.players', 
    style='width:{{100/game.players.length}}%;font-size:{{40/game.players.length > 15 ? 15 : 40/game.players.length}}px;'
  )
    .player-name
        span(style='color:#F7B628')
            | {{ $index == game.leader ? 'L ' : '' }}
        span(style='color:#AAA')
            | {{ $index == game.leader ? '| ' : '' }}
        span(style='color:#FFF')
            | {{ player.name.toUpperCase() }} 
        span(style='color:#AAA')
            | | 
        span(style='color:#FFF')
            | {{ influence(player) }} 
        br
        span(style='color:#AAA')
            | {{ player.hand.length }} CARDS
    .player-action-container
        .player-action(style='color:#{{(player.actions[0] != undefined && actionColors[player.actions[0].kind] == "FFF") ? "000" : "FFF"}};background-color:#{{player.actions[0] != undefined ? actionColors[player.actions[0].kind] : "222"}}')
            | {{ player.actions[0].description }}{{ actionNumber(player) > 1 ? " " + actionNumber(player) : "" }}
    .player-vault
        span(style='color:#FFF')
            | {{ player.vault.length }} 
        span(style='color:#AAA')
            | / {{ vaultLimit(player) }}