.player-box(
  ng-repeat='player in game.players',
  ng-class='{ "is-you" : player == you(), "is-current" : player == game.players[meta.currentPlayer] }',
  ng-style='{"width": 100 / game.players.length + "%"}'
)
  include ./player/gtr.jade
  include ./player/clientele.jade
  include ./player/pending.jade
  include ./player/building.jade
  include ./player/stairway.jade
  include ./player/score.jade
  include ./player/stockpile.jade