.player-title
  .player-header(
    ng-repeat='player in game.players', 
    style='width:{{100/game.players.length}}%;'
  )
    | {{ player.name }}, vault: {{ player.vault.length }}
    .player-actions
      .player-action
        | {{ player.actions[0].description }}