doctype html
html
  include ./includes/head.jade
  body(
    ng-app='myApp', 
    ng-controller='gtrController as gtr'
  )
    .container(
      ng-if='!meta.started'
    )
      include ./includes/create.jade
      include ./includes/setup.jade

    #fixed-container(
      ng-if='meta.started',
    )
      include ./includes/heading.jade
      include ./includes/player.jade
      include ./includes/bottom.jade