body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Montserrat';
}
* {
    font-family: 'Montserrat';
}
img.hand {
    height: 92%;
    border-radius: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
}
#fixed-container {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
}
.player-box {
    height: 68%;
    float: left;
    position: relative;
}
.player-title {
    width: 100%;
    height: 7%;
    position: relative;

    background-color: black;
    text-align: center;
    /*box-shadow: 2px 0px 5px #AAA;*/
    color: white;
}
.player-header {
    height: 100%;
    float: left;
    position: relative;
}
.player-name {
    float: left;
    text-align: left;
    position: relative;
    padding:5px;
    top: 50%;
    margin-left: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.player-influence {
    float: left;
    color: black;
    background-color: white;
    border-radius: 5px;
}
.player-vault {
    float: right;
}
.player-vault, .player-influence {
    text-align: center;
    position: relative;
    padding:5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.player-action {
    display: inline-block;
    border-radius: 5px;padding:5px;
    position: relative;
    margin: auto;
    clear: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.score-box {
    width:95%;
    height: 95%;
    float:right;
    font-size: 50px;
    color: white;
    text-align: center;
}
.player-clientele, .player-clientele-shadow {
    height: 100%;
    width: 5%;

    position: relative;
    background-color: black;
    float: left;
    overflow: scroll;
}
.player-clientele-shadow {
    /*box-shadow: 0px 0px 5px #AAA;*/
    margin-right: -5%;
}
.client {
    width: 100%;
    height: 4%;
    float: left;
    display: inline;
    border: 4px;
    border-radius: 32%;
    border-style: solid;
    border-color: black;
}
.player-building-area {
    width: 20%;
    height: auto;
    display: inline-block;
    padding: 1% 0 1% 1%;
    margin: 0.8%;
    margin-bottom: 3%;

}
.building {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    /*box-shadow: 0px 0px 5px #AAA;*/

}
.materials-holder {
    width:90%;
    margin-left: 5%;
    padding:0px;
    height:10px;
    /*box-shadow: 0px 0px 5px #AAA;*/
}
.materials {
    
    height:100%;
    background-color:white;
}
.material {
    height:10px;float:left;
}
.stockpile {
    background-color: #333; 
    bottom: 0px; 
    margin-left:5%; 
    width:95%;
    height:5%;
    position:absolute;
}
.pending {
    background-color: none; 
    bottom: 5%; 
    margin-left:5%; 
    width:95%;
    height:3%;
    position:absolute;
    text-align: center;
}
.pending-center {
    display: inline-block;
    height: 100%;
}
.pending-card {
    width:20px;
    height:100%;
    float:left;
    margin-right: 4px;
    border-top-left-radius: 32%;
    border-top-right-radius: 32%;
}
.stockpile-material {
    width:3%;
    height:100%;
    float:left;
    border-style:solid;
    border-width:2px;
    border-color:#333;
    border-radius: 32%;
}
#bottom-bar {
    width: 100%;
    height: 25%;
    /*background-color: #eedfe5;*/
    background-color: black;
    clear: both;
    /*box-shadow:2px 0px 5px #AAA;
*/    position: relative;
}
.hand {
    position:absolute; 
    bottom:0; 
}
.pool {
    float:right;height:100%;width:10%;
    border: 4px;
    border-color: black;
    border-style: solid;
}
.pool-counter {
    width: 50%;
    height: 33.333%;
    float: left;
    text-align: center;
    font-size: 30px;
    border: 4px;
    border-color: black;
    border-radius: 20%;
    border-style: solid;
}
.pool-counter:focus {
    outline:0;
}
.front {
    z-index: 1;
}
.deck {
    /*border-radius: 5%;*/
    width: 10%;
    overflow: hidden;
    float:right;height:100%;background-color: none;
}
.skip {
    width: 10%;
    height: 100%;
    background-color: #222;
    color: white;
    outline: none;
    border: 8px;
    border-style: solid;
    border-color: black;
    border-radius: 20%;
    float: right;
    font-size: 20px;
}
#hand {
    float:left;
    position: relative;
    height: 100%;
    display: block;
}