.player-clientele
  .client(
    ng-repeat='x in getArray(clienteleLimit(player)) track by $index',
    ng-style='{ "background-color" : "#" + (player.clientele[$index] ? actionColors[player.clientele[$index]] : "333"), "height" : 100 / clienteleLimit(player) + "%" }'
  )