.glory-to-rome
  .glory-text(
    ng-class='{"gtr-hide": player.glory1, "gtr-show": !player.glory1}'
  )
    | GLORY TO ROME
.glory-to-rome
  .glory-text(
    ng-class='{"gtr-hide": player.glory2, "gtr-show": !player.glory2}'
  )
    | GLORY TO ROME