.pending
  .pending-center
    .pending-card(
      ng-repeat='card in player.pending track by $index',
      ng-click='yourTurn() && $parent.$index == meta.you && pendingClicked(you().actions[0].kind, {index: $index, card: card}, game)',
      ng-style='{ "background-color" : "#" + colors[card.color] }'
    )