button.skip(
  ng-if='yourTurn() && canSkipCurrentAction(you(), game)',
  ng-click='yourTurn() ? skipAction(you(), game) : null'
)
  | {{ you().actions[0] && you().actions[0].kind == 'Rome Demands' ? "GLORY TO ROME" : "SKIP ACTION" }}